$color-primary: #579C87;
$color-text-primary: #FDCB46;

$menu1-background-color: #FCDFDB;
$menu1-text-color: black;

$menu2-background-color: #FFF5FE;
$menu2-text-color: #C77412;
$starter-menu2-color: #C77412;
$dish-menu2-color: #A56799;
$dessert-menu2-color: #6E4CCC;

$menu3-background-color: #EDEFEF;
$menu3-text-color: #0887FB;
$menu3-title-primary: #0887FB;
$menu3-title-secondary: #C2DCF5;

$menu4-background-color: #FDFFFD;
$menu4-text-color: #72BF56;
$menu4-title-primary: #72BF56;
$menu4-title-secondary: #DDF5D4;